.body {
    color: #fff;
    height: 90%;
    padding: 2rem;
  }
  
  
  .main-text {
    max-width: 400px;
    font-size: 3.2rem;
    font-weight: 600;
    margin-left: 4rem;
    line-height: normal;
    margin-bottom: 1rem;
  }
  